@model EC_TH2012_J.Models.Donhangtongquan
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}
<section id="checkout-page">
    <div class="container">
        <div class="col-xs-12 no-margin">

            <!--Order-->
            @Html.Action("CartOrder", "Xuligiohang")

            @using (Html.BeginForm("Checkout", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <h2 class="border h1">Thông tin khách hàng :</h2>
                <div class="form-group">
                    @Html.Label("Người mua :", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.buyer, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(m => m.buyer)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Người nhận :", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.seller, new { @class = "form-control", required = "required", placeholder = @Model.buyer })
                        @Html.ValidationMessageFor(m => m.seller)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Điện thoại :", new { type = "number", @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.phoneNumber, new { @type = "number", @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(m => m.phoneNumber)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Địa chỉ :", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.address, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(m => m.address)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Ghi chú :", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Note, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Note)
                    </div>
                </div>
                <section id="shipping-address">
                    <h2 class="border h1">shipping address</h2>
                    <div class="row field-row">
                        <div class="col-xs-12">
                            <input class="le-checkbox big" type="checkbox" />
                            <a class="simple-link bold" href="#">ship to different address?</a>
                        </div>
                    </div><!-- /.field-row -->
                </section><!-- /#shipping-address -->


                <div id="payment-method-options">
                    <div class="payment-method-option">
                        <input class="le-radio" type="radio" name="group2" value="Direct">
                        <div class="radio-label bold ">
                            Direct Bank Transfer<br>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rutrum tempus elit, vestibulum vestibulum erat ornare id.</p>
                        </div>
                    </div><!-- /.payment-method-option -->

                    <div class="payment-method-option">
                        <input class="le-radio" type="radio" name="group2" value="cheque">
                        <div class="radio-label bold ">Thanh toán trực tuyến</div>
                    </div><!-- /.payment-method-option -->
                    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
                    <div id="paypal-button-container"></div>
                    <script>
                        paypal.Button.render({


                            env: 'sandbox', // sandbox | production

                            // PayPal Client IDs - replace with your own
                            // Create a PayPal app: https://developer.paypal.com/developer/applications/create
                            client: {
                                sandbox: 'Ae8uET4Fhpx_WXRrqd6uQxnSFagwnu2rV--YDkhxDh05T7gFWGX1okrcZebOLZzxIXgXk7mwOBXAOPf8',
                                production: '<insert production client id>'
                            },

                            // Show the buyer a 'Pay Now' button in the checkout flow
                            commit: true,

                            // payment() is called when the button is clicked
                            payment: function (data, actions) {

                                // Make a call to the REST api to create the payment
                                return actions.payment.create({
                                    payment: {

                                        transactions: [
                                            {
                                                amount: { total: '1.00', currency: 'USD' }
                                            }
                                        ]
                                    }

                                });
                            },
                            // onAuthorize() is called when the buyer approves the payment
                            onAuthorize: function (data, actions) {

                                // Make a call to the REST api to execute the payment
                                return actions.payment.execute().then(function () {
                                    window.alert('Payment Complete!');
                                    document.location.href = "/";
                                });
                            }

                        }, '#paypal-button-container');

                    </script>
                    <a href="https://www.baokim.vn/payment/product/version11?business=nttrieu1006%40gmail.com&id=&order_description=&product_name=%C4%90i%E1%BB%87n+tho%E1%BA%A1i+Oppo+R7YGP+%28V%C3%A0ng+h%E1%BB%93ng%29&product_price=9400000&product_quantity=1&total_amount=9400000&url_cancel=&url_detail=http%3A%2F%2Flocalhost%3A11878%2Fchi-tiet%2Fdien-thoai-oppo-r7ygp--vang-hong--01613&url_success=http%3A%2F%2Flocalhost%3A11878%2F"><img src="~/images/avatars/images.jpg" alt="Thanh toán an toàn với Bảo Kim !" border="0" title="Thanh toán trực tuyến an toàn dùng tài khoản Ngân hàng (VietcomBank, TechcomBank, Đông Á, VietinBank, Quân Đội, VIB, SHB,... và thẻ Quốc tế (Visa, Master Card...) qua Cổng thanh toán trực tuyến BảoKim.vn"></a>
                </div><!-- /#payment-method-options -->

                <div class="place-order-button">
                    <input type="submit" class="le-button big" value="Đặt hàng" />
                </div><!-- /.place-order-button -->
            }
        </div><!-- /.col -->
    </div><!-- /.container -->
</section><!-- /#checkout-page -->

